@import url('https://fonts.googleapis.com/css?family=Raleway:200&display=swap');

body {
	background: black;
	    font-family: 'Raleway', sans-serif;
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./resources/bg.png') no-repeat center center scroll;
        width: auto;
        height: auto;
}

.wrapper {
	display: table;
	opacity: 0;
	-webkit-transition: opacity 1.5s;
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.main {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.main h1 {
	margin: 0;
	font-size: 0;
	color: white;
	font-size: 4.5em;
	font-weight: 100;
	text-transform: uppercase;
}

.main p {
	color: #fff;
    font-weight: 300;
}

.headerButton {
    cursor: pointer;
    text-align: center;
    line-height: 150px;
    margin: 0px 5px;
    font-weight: 300;
    background: #00000017;
	border-radius: 0;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
}

#resumeButton {
	padding: 10px 16px;
	font-size: 18px;
    width: 400px;
}

.contactIcons {
    box-sizing: border-box;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    padding-top: 45px;
}

.contactIcons a {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #000000c4;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    -webkit-transition: .7s color, 0.5s font-size;
}

.contactIcons a:hover {
	color: red;
	font-size: 60px;
}

.tooltip {
	width: 80px;
    height: 25px;
    background: #3a3a3a;
    border-radius: .4em;
    position: absolute;
    left: 1160px;
    top: 676px;
    text-align: center;
    color: white;
    line-height: 27px;
    color: white;
    opacity: 0;
    -webkit-transition: .5s opacity;
}

/*, .5s left, .5s top;*/

.tooltip:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 54%;
    width: 0;
    border: 11px solid transparent;
    border-top-color: #3b3b3b;
    border-bottom: 0;
    margin-left: -14px;
    margin-bottom: -11px;
}

.ttbutton > i {
	font-style: normal;
}